.project {
  @extend .transitionLink;
  width: 100%;

  .innerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 20px 0;
  }

  h1 {
    font-weight: 400;
    margin-bottom: 0;
  }

  h2 {
    font-weight: 400;
    margin-bottom: 0;
  }

  .titleContainer {
    position: relative;
    border-left: 1px solid;
    height: 12rem;
    width: 100%;
    padding: 15px;
    margin-right: 2rem;
    transition: width 0.3s ease;
    display: flex;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px; 
      background: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }


    .titleWrapper {
      display: inline-block;
      margin-right: auto;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 30%;
    }
    
    .dateContainer {
      position: relative;
      align-items: center;
      display: flex;
    }
  }

  .imageContainer {
    position: relative;
    height: 12rem;
    width: 30%;
    // border-top: 1px solid ;
    border-right: 1px solid; 
    padding: 1rem;

    overflow: hidden;
    z-index: 0;
    transition: all 0.4s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px; /* This creates a "border" effect */
      background: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }

      .innerImageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 10%;
      }
  }

  p {
    transition: all 0.4s;
    font-weight: 300;
  }

  &:hover {
    opacity: 0.5;

    h2 {
      transform: translateX(-10px);
    }

    
    h3 {
      transform: translateX(-10px);
    }


    h1 {
        transform: translateX(-10px);
      }

    p {
      transform: translateX(10px);
    }
  }
}

.transitionLink {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
