.project {
  @extend .transitionLink;
  width: 100%;

  .innerDiv {
    border-top: 1px solid rgb(201, 201, 201,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 50px 100px 50px 100px;
    height: 10rem;
  }

  h2 {
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
  }

  p {
    transition: all 0.4s;
    font-weight: 300;
  }

  &:last-of-type {
    border-bottom: 1px solid rgb(201, 201, 201,0.4);
  }

  &:hover {
    opacity: 0.5;

    h2 {
      transform: translateX(-10px);
    }

    p {
      transform: translateX(10px);
    }
  }
}

.transitionLink {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
