.title{
    margin-top: 20rem;
    padding-top: 10vh;
    display: flex;
    border-top: 1px solid;
    justify-content: start;
    padding-left: 17rem;
    .body{
        max-width: 1400px;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        position: relative;
        h1{
            margin: 0px;
            text-align: start;
            &:nth-of-type(1){
                // font-size: 5rem;
                line-height: 1.3;
                span{
                    margin-right: 3px;
                }
              
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }
        }

        h3{
            margin-top: 0;
            text-align: start;
            padding-top: 0;
        }
    }
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.1rem; 
    background: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    width: 0%;
    transition: width 0.8s ease-in-out;
  }