:root {
  --page-background: #141516; 
  --gradient-background: linear-gradient(to bottom, #0c0c0d, #0c0c0d, #0d0d0c);
  --text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

body {
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  cursor: wait;
  background: var(--gradient-background);
  color: white;
  font-family: var(--font-montreal);
  // color: #dddddd;
  text-shadow: var(--text-shadow);
  transition-property: opacity,background,transform,filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

h2{
  color:#d4af37;
  font-size: 3rem;
}

h1{
  color:#d4af37;
  font-size: 4rem;
}

h3{
  font-size: 1.5rem;
  color: #ddbf69;
}

p{
  font-size: 1rem;
  color: #e5d092;
}

li {
  color: #e5d092;
  font-size: 1.1rem;
}


strong, b {
  font-family: var(--font-montreal-bold);
}

.page-transition {
  opacity: 0;
  background: var(--page-background);
  transition: opacity 0.5s ease-in-out;
}
