body {
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  cursor: wait;
  background: linear-gradient(to bottom, #0d0d0c, black, black);
  color: white;
  font-family: var(--font-montreal);
  color: #dddddd;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}