.description {
  // padding-left: 200px;
  // padding-right: 200px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  .body {
    max-width: 1400px;
    display: flex;
    gap: 50px;
    position: relative;
    flex-direction: column;
    gap: 10rem;
    padding-left: 15%;
    padding-right: 15%;

    .levelOne {
      width: 100%;
      height: auto;
      display: flex;
      gap: 2rem;

      .scrollingContainerOne {
        height: 20em;
        width: 50%;
        overflow: hidden;
        position: relative;
        top: 100%;
        padding: 2rem;
        p{
            
            text-align: right; 
            font-style: italic; 
            position: relative;
            margin: 0;
            padding-right: 1rem; 
            line-height: 1.6;
            font-size: 1.6rem;

            &::before {
                content: "“"; /* Left quote */
                font-size: 3rem;
                position: absolute;
                left: -2rem;
                top: -2rem;
                color: #999;
              }

              &::after {
                content: "”"; /* Right quote */
                font-size: 3rem;
                position: absolute;
                right: -1rem;
                bottom: -2rem;
                color: #999;
              }
        }
      }

      .aboutContainer {
        width: 50%;
        p {
          margin: 0px;
          font-size: 1.6rem;
          &:nth-of-type(1) {
            gap: 8px;
            line-height: 1.6;
            span {
              margin-right: 3px;
            }

            .mask {
              position: relative;
              overflow: hidden;
              display: inline-flex;
            }
          }

          &:nth-of-type(2) {
            width: 80%;
          }
        }
      }
    }

    .levelTwo {
      width: 100%;
      height: auto;
      display: flex;
      gap: 2rem;

      .scrollingContainerTwo {
        width: 50%;
        position: relative;
        top: 20%;
        p {
          margin: 0px;
          font-size: 1.6rem;

          &:nth-of-type(1) {
            gap: 8px;
            line-height: 1.6;
            span {
              margin-right: 3px;
            }

            .mask {
              position: relative;
              overflow: hidden;
              display: inline-flex;
            }
          }

          &:nth-of-type(2) {
            width: 80%;
          }
        }
      }

      .normalContainerTwo {
        height: 20em;
        width: 50%;
        overflow: hidden;
        position: relative;
        top: -20%;
        
      }
    }

    .button {
      top: 80%;
      left: calc(100% - 200px);
      width: 180px;
      height: 180px;
      background-color: #1c1d20;
      color: white;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      p {
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        z-index: 1;
      }
    }
  }
  .moreWork {
    padding: 20px;
    border-radius: 40px;
    border: 1px solid grey;
  }
}
